---
---

@import "variables";
@import "mixins";
@import "visually-hidden";
@import "button-primary";
@import "buttons-circle";
@import "title";
@import "header";
@import "navigation";
@import "divider";
@import "hero";
@import "services";
@import "about";
@import "about-list";
@import "projects";
@import "technologies";
@import "feedback";
@import "clients";
@import "choose-wrapper";
@import "skills";
@import "progress";
@import "choose";
@import "contacts-wrapper";
@import "contacts-form";
@import "form";
@import "contacts";
@import "footer";
@import "careers";
@import "openings";
@import "opening";
@import "opening-meta";
@import "apply-modal";
@import "banner";
@import "card";
@import "cards";
@import "contacts-page";
@import "why-us";
@import "we-are";
@import "facts";
@import "team";
@import "toast";

img {
  max-width: 100%;
  height: auto;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.35;
  color: $primary-font-color;
  background-color: #ffffff;

  &.body--modal-opened {
    overflow: hidden;
  }

  &.body--nav-opened {
    overflow: hidden;

    &::after {
      content: '';
      position: fixed;
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      z-index: 1000;
      background: rgba(0, 0, 0, .7);
    }
  }
}

p {
  margin-bottom: 1em;
}

.text-center {
  text-align: center;
}
