---
layout: default
title: About us
permalink: /about/
---

<section class="banner banner--about">
  <div class="banner__centering">
    <h2 class="banner__title">About Us</h2>
    <p class="banner__text">Our vision has always been to maximize client satisfaction with a firm commitment to quality of service and timely delivery. Quality and excellence.</p>
  </div>
</section>

<section class="we-are">
  <div class="we-are__centering">
    <h2 class="we-are__title title title--big title--underlined">We Are The Best Service Provider</h2>
    <p class="we-are__text">Blitz IT Solutions helps organizations and clients operate more efficiently through higher productivity and profitability, by providing business driven solutions ranging from Software Development, IT Consulting, Outsourcing and Staff Augmentation. We are all about engaging the right talent and people to provide the right solutions.</p>
    <ul class="we-are__list">
      <li class="we-are__item">
        <picture class="we-are__image">
          <source media="(min-width: 768px)" srcset="/assets/images/about_image1_desktop.jpg 1x, /assets/images/about_image1_desktop@2x.jpg 2x">
          <img src="/assets/images/about_image1_desktop.jpg" srcset="/assets/images/about_image1_desktop@2x.jpg 2x">
        </picture>
        <p class="we-are__item-text">Our vision has always been to maximize client satisfaction with a firm commitment to quality of service and timely delivery. Quality and excellence are achieved by implementing right practices with right people, that is where we come in. We provide the right people to fit in your firm and provide quality driven results. We spend time to understand the business needs and requirements to strategically provide a solution that is cost effective ensure better business efficiency.</p>
      </li>
      <li class="we-are__item">
        <picture class="we-are__image">
          <source media="(min-width: 768px)" srcset="/assets/images/about_image2_desktop.jpg 1x, /assets/images/about_image2_desktop@2x.jpg 2x">
          <img src="/assets/images/about_image2_desktop.jpg" srcset="/assets/images/about_image2_desktop@2x.jpg 2x">
        </picture>
        <p class="we-are__item-text">We understand technology changes can be rapid and delivering on time with quality is very important in the competitive industry. With the right knowledge and technological breadth that we possess with our team of expert consultants, our goal is to make sure all argets are met successfully with minimal risk and not compromising delivery schedule, quality. </p>
      </li>
    </ul>
  </div>
</section>

<section class="facts">
  <div class="facts__centering">
    <h2 class="title title--big title--underlined">Quick Facts</h2>
    <ul class="about-list">
      <li class="about-list__item about-list__item--projects">
        <span class="about-list__item-amount">100</span>
        <span class="about-list__item-subject">Projects</span>
      </li>
      <li class="about-list__item about-list__item--articles">
        <span class="about-list__item-amount">133</span>
        <span class="about-list__item-subject">Articles</span>
      </li>
      <li class="about-list__item about-list__item--candidates">
        <span class="about-list__item-amount">150</span>
        <span class="about-list__item-subject">Candidates</span>
      </li>
      <li class="about-list__item about-list__item--clients">
        <span class="about-list__item-amount">40</span>
        <span class="about-list__item-subject">Clients</span>
      </li>
    </ul>
  </div>
</section>

<section class="team">
  <div class="team__centering">
    <h2 class="title title--big title--underlined">Our Lovely Team</h2>
    <p class="team__text">Whatever be your business needs, we have a solution for it. We provide complete suite of application development with wide range of core competencies. Our experienced consultants ensure successful, quality driven and on time delivery of projects.</p>
    <div class="team__slider">
      {% for t in site.data.team %}
        <div class="team__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="/assets/images/{{ t.image }}.jpg 1x, /assets/images/{{ t.image }}@2x.jpg 2x">
            <img class="team__image" src="/assets/images/{{ t.image }}.jpg" srcset="/assets/images/{{ t.image }}@2x.jpg 2x">
          </picture>

          <h4 class="team__slide-title title title--small">{{ t.name }}</h4>
          <p class="team__slide-label">{{ t.position }}</p>
          <p class="team__slide-text">{{ t.text }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="team__slider-buttons buttons-circle buttons-circle--light"></div>
    <p class="team__text team__text--decorated">We provide the right people to fit in your firm and provide quality driven results. We spend time to understand the business needs and  requirements to strategically provide a solution that is cost effective ensure better business efficiency.</p>
  </div>
</section>

<div class="divider divider--red">
</div>
