---
layout: default
title: Benefits
permalink: /benefits/
---

<section class="banner banner--benefits">
  <div class="banner__centering">
    <h2 class="banner__title">Benefits</h2>
    <p class="banner__text">Working with our team to deliver on top products and technologies comes with a lot of perks. Below are some of the benefits that we offer on top of building a strong team culture.</p>
  </div>
</section>

<section class="why-us">
  <div class="why-us__centering">
    <h2 class="title title--big title--underlined">Why Join Us</h2>
    <ul class="why-us__list">
      {% for b in site.data.benefits %}
        <li class="why-us__item">
          <h3 class="why-us__item-title title title--medium">{{ b.title }}</h3>
          <p class="why-us__text">{{ b.text }}</p>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

<div class="divider divider--yellow">
</div>

<!-- {% include html/feedback.html %} -->

<!-- <div class="choose-wrapper choose-wrapper--benefits">
  <div class="choose-wrapper__centering">
    <section class="choose choose--benefits">
      <h2 class="choose__title title title--big">Why Choose Us</h2>
      <div class="choose__wrapper">
        <p class="choose__text">We understand technology changes can be rapid and delivering on time with quality is very important in the competitive industry. With the right knowledge and technological breadth that we possess with our team of expert consultants, our goal is to make sure all targets are met successfully withminimal risk and not compromising delivery schedule, quality. </p>
        <p class="choose__text">We understand technology changes can be rapid and delivering on time with quality is very important in the competitive industry. With the right knowledge and technological breadth that we possess with our team of expert consultants, our goal is to make sure all targets are met successfully withminimal risk and not compromising delivery schedule, quality. </p>
      </div>
    </section>
  </div>
</div> -->

<!-- <div class="divider divider--red">
</div>
 -->
