---
layout: default
title: Careers
permalink: /careers/
---

<section class="banner banner--careers">
  <div class="banner__centering">
    <h2 class="banner__title">Careers</h2>
    <p class="banner__text">Our vision has always been to maximize client satisfaction with a firm commitment to quality of service and timely delivery. Quality and excellence.</p>
  </div>
</section>

<section class="careers">
  <div class="careers__centering">
    <!--<h2 class="title title--big title--underlined">How to Apply</h2>
    <p class="careers__text">Our vision has always been to maximize client satisfaction with a firm commitment  to quality of service and timely delivery. Quality and excellence are achieved by implementing right practices with right people, that is where we come in. We provide the right people to fit in your firm and provide quality driven results. We spend time to understand the business needs and requirements to strategically provide a solution that is cost effective ensure better business efficiency.</p> -->
    <h2 class="title title--big title--underlined">Current Openings</h2>
    <table class="careers__openings openings">
      <thead>
        <tr class="openings__item openings__item--heading">
          <th>Job Title</th>
          <th>Location\ Industry</th>
          <th>Location</th>
          <th>Industry</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.posts %}
          <tr class="openings__item">
            <td><a class="openings__item-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></td>
            <td>{{ post.location }}\{{ post.industry }}</td>
            <td>{{ post.location }}</td>
            <td>{{ post.industry }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

<div class="divider divider--red">
</div>
