---
layout: default
title: Home
---

<h1 class="visually-hidden"></h1>

<section class="hero">
  <h2 class="visually-hidden"></h2>
  <div class="hero__slider">
    <div class="hero__slide hero__slide--slide1">
      <div class="hero__centering">
        <h3 class="hero__title">Application Development</h3>
        <p class="hero__text">We provide complete suite of application development with wide range of core competencies...</p>
        <a class="hero__link button-primary button-primary--big" href="/services">Read More</a>
      </div>
    </div>
    <div class="hero__slide hero__slide--slide2">
      <div class="hero__centering">
        <h3 class="hero__title">Business Consulting</h3>
        <p class="hero__text">We provide the resources needed to achieve and maximize quality outcomes for businesses. Our goal has always been on solving complex business problems by providing solutions that are...</p>
        <a class="hero__link button-primary button-primary--big" href="/services">Read More</a>
      </div>
    </div>
    <div class="hero__slide hero__slide--slide3">
      <div class="hero__centering">
        <h3 class="hero__title">IT Staffing</h3>
        <p class="hero__text">We provide the gateway for top notch candidates to be introduced to clients to fulfill the business requirements and ultimately contribute towards organizational success. Based on the project need...</p>
        <a class="hero__link button-primary button-primary--big" href="/services">Read More</a>
      </div>
    </div>
  </div>
  <div class="hero__slider-buttons hero__slider-buttons--circles buttons-circle buttons-circle--dark"></div>
  <button id="hero-prev-button" class="hero__slider-button-arrow hero__slider-button-arrow--prev" type="button"></button>
  <button id="hero-next-button" class="hero__slider-button-arrow hero__slider-button-arrow--next" type="button"></button>
</section>

<section class="about">
  <div class="about__centering">
    <div class="about__wrapper">
      <h2 class="title title--big title--underlined">About Us</h2>
      <p class="about__text">Blitz IT Solutions helps organizations and clients operate more efficiently through higherprod uctivity and profitability, by providing business driven solutions ranging from Software Development, IT Consulting, Outsourcing and Staff Augmentation. We are all about engaging the right talent and people to provide the right solutions.</p> <br/>
      <p class="about__text">Our vision has always been to maximize client satisfaction with a firm commitment to quality of service and timely delivery. Quality and excellence are achieved by implementing right practices with right people, that is where we come in.</p><br/>
     <p class="about__text">We provide the right people to fit in your firm and provide quality driven results. We spend time to understand the business needsand  requirements to strategically provide a solution that is cost effective ensure better business efficiency.</p>
    </div>
    <!-- <ul class="about__list about-list">
      <li class="about-list__item about-list__item--projects">
        <span class="about-list__item-amount">100</span>
        <span class="about-list__item-subject">Projects</span>
      </li>
      <li class="about-list__item about-list__item--articles">
        <span class="about-list__item-amount">133</span>
        <span class="about-list__item-subject">Articles</span>
      </li>
      <li class="about-list__item about-list__item--candidates">
        <span class="about-list__item-amount">150</span>
        <span class="about-list__item-subject">Candidates</span>
      </li>
      <li class="about-list__item about-list__item--clients">
        <span class="about-list__item-amount">40</span>
        <span class="about-list__item-subject">Clients</span>
      </li>
    </ul> -->
    <!-- <a class="about__link button-primary" href="/about">Read more</a> -->
  </div>
</section>

<div class="divider divider--yellow">
</div>

<section class="services">
  <div class="services__centering">
    <h2 class="title title--big title--underlined">Services</h2>
    <p class="services__text">Whatever be your business needs, we have a solution for it. We provide complete suite of application development with wide range of core competencies. Our experienced consultants ensure successful, quality driven and on time delivery of projects.</p>
    <div class="services__slider">
      {% for service in site.data.services %}
        <div class="services__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="assets/images/{{ service.image }}.jpg 1x, assets/images/{{ service.image }}@2x.jpg 2x">
            <img class="services__image" src="assets/images/{{ service.image }}.jpg" srcset="assets/images/{{ service.image }}@2x.jpg 2x">
          </picture>

          <h3 class="services__slide-title title title--medium">{{ service.title }}</h3>
          <p>{{ service.text }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="services__slider-buttons buttons-circle buttons-circle--light"></div>
    <a class="services__link button-primary" href="/services">Read more</a>
  </div>
</section>

{% include html/projects.html %}

<!-- <section class="technologies">
  <div class="technologies__centering">
    <h2 class="title title--big title--underlined">Technologies</h2>
    <div class="technologies__slider">
      {% for t in site.data.technologies %}
        <div data-technology="{{ t.abbr }}" class="technologies__slide">
          <h3 class="technologies__slide-title title title--medium">{{ t.title }}</h3>
          <p class="technologies__text">{{ t.text }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="technologies__slider-buttons buttons-circle buttons-circle--light"></div>
  </div>
</section> -->

<!-- {% include html/feedback.html %} -->

{% include html/clients.html %}

<div class="choose-wrapper choose-wrapper--index">
  <div class="choose-wrapper__centering">

    <section class="skills">
      <h2 class="skills__title title title--big">Our skills</h2>
      <ul class="skills__list">
        {% for s in site.data.skills %}
          <li class="skills__item">
            <span class="skills__skill">{{ s.title }}</span>
            <div class="skills__progress progress">
              <div class="progress__level" data-percents="{{ s.progress }}%" style="width:{{ s.progress }}%">
              </div>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    <section class="choose">
      <h2 class="choose__title title title--big">Why Choose Us</h2>
      <p class="choose__text">We understand technology changes can be rapid and delivering on time with quality is very important in the competitive industry. With the right knowledge and technological breadth that we possess with our team of expert consultants, our goal is to make sure all targets are met successfully withminimal risk and not compromising delivery schedule, quality. </p>
      <p class="choose__text">We understand technology changes can be rapid and delivering on time with quality is very important in the competitive industry. With the right knowledge and technological breadth that we possess with our team of expert consultants, our goal is to make sure all targets are met successfully withminimal risk and not compromising delivery schedule, quality. </p>
      <a class="choose__link button-primary" href="/benefits">Read more</a>
    </section>

  </div>
</div>

<div class="divider divider--red">
</div>
