.about {
  text-align: center;
}

.about__centering {
  padding: 45px 12px;
}

.about__wrapper {
  margin-bottom: 45px;
}

.about__list {
  margin-bottom: 40px;
}

@media (min-width: $tablet-min-width) {
  .about__centering {
    padding: 45px 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .about__centering {
    @include desktop-centering;
  }

  .about__text {
    width: 900px;
    margin: 0 auto;
  }
}
