.about-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style-type: none;
}

.about-list__item {
  padding-left: 110px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 296px;
  margin-bottom: 40px;

  &::after {
    content: "";
    width: 110px;
    height: 70px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--projects::after {
    background-image: url("../assets/images/svg/projects.svg");
  }

  &--articles::after {
    background-image: url("../assets/images/svg/articles.svg");
  }

  &--candidates::after {
    background-image: url("../assets/images/svg/candidates.svg");
  }

  &--clients::after {
    background-image: url("../assets/images/svg/clients.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.about-list__item-amount {
  font-size: 48px;
  color: $primary-color;
  font-weight: 700;
  margin-bottom: 10px;
}

@media (min-width: $tablet-min-width) {
  .about-list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .about-list__item {
    width: 40%;

    &:last-child {
      margin-bottom: 40px;
    }
  }
}

@media (min-width: $desktop-min-width) {
  .about-list__item {
    margin-bottom: 0;
    width: 240px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
