.apply-modal {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1000;
  display: none;

  &.apply-modal--active {
    display: flex;
  }

  &.apply-modal--middle {
    .apply-modal__content {
      align-items: center;
      justify-content: center;

      .apply-modal__body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

.apply-modal__content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.apply-modal__header,
.apply-modal__footer {
  flex-shrink: 0;
  padding: 15px 12px;
  text-align: center;
}

.apply-modal__header {
  font-size: 24px;
  color: $primary-color;
}

.apply-modal__close {
  position: absolute;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5px;
  top: 12px;
  background: none;
  border: none;
  cursor: pointer;
}

.apply-modal__body {
  flex: 1;
  overflow: auto;
  padding: 0 12px;
}

.apply-modal__fieldset {
  padding-left: 0;
  padding-right: 0;
}

.apply-modal__submit-button {
  display: block;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

.apply-modal__resume-button {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 10px;
}

.apply-modal__resume-filename {
  display: block;
  margin-bottom: 10px;
}

@media (min-width: $tablet-min-width) {
  .apply-modal__header,
  .apply-modal__footer,
  .apply-modal__body {
    padding-left: 24px;
    padding-right: 24px;
  }

  .apply-modal__resume-filename {
    display: inline-block;
  }
}

@media (min-width: $desktop-min-width) {
  .apply-modal {
    align-items: center;
    justify-content: center;
  }

  .apply-modal__content {
    right: auto;
    bottom: auto;
    left: auto;
    top: auto;
    max-width: 900px;
    max-height: 75%;
    width: 100%;
    height: 100%;
  }

  .apply-modal__header,
  .apply-modal__footer,
  .apply-modal__body {
    padding-left: 100px;
    padding-right: 100px;
  }
}
