.banner {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 1;
  }
}

.banner--services {
  background-image: url("../assets/images/services_banner_desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../assets/images/services_banner_desktop@2x.jpg");
  }
}

.banner--careers {
  background-image: url("../assets/images/career_banner_desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../assets/images/career_banner_desktop@2x.jpg");
  }
}

.banner--benefits {
  background-image: url("../assets/images/benefits_banner_desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../assets/images/benefits_banner_desktop@2x.jpg");
  }
}

.banner--about {
  background-image: url("../assets/images/about_banner_desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../assets/images/about_banner_desktop@2x.jpg");
  }
}

.banner--contacts {
  background-image: url("../assets/images/about_banner_desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../assets/images/about_banner_desktop@2x.jpg");
  }
}

.banner__centering {
  padding: 80px 12px;
  z-index: 2;
  position: relative;
  text-align: center;
}

.banner__title {
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 15px;
  font-weight: 500;
}

.banner__text {
  color: #ffffff;
}

@media (min-width: $tablet-min-width) {
  .banner__centering {
    padding: 100px 24px;
  }

  .banner__text {
    max-width: 550px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-min-width) {
  .banner__centering {
    @include desktop-centering;
  }
}
