.buttons-circle {
  font-size: 0;

  &--light {
    .buttons-circle__item {
      background-color: #cccccc;

      &--active {
        background-color: #333333;
      }
    }
  }

  &--dark {
    .buttons-circle__item {
      background-color: #7b7b7b;

      &--active {
        background-color: #ffffff;
      }
    }
  }
}

.buttons-circle__item {
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: none;

  &:not(:last-child) {
    margin-right: 9px;
  }
}
