.button-primary {
  display: inline-block;
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;
  text-transform: uppercase;
  background-color: $secondary-color;
  text-decoration: none;
  border-radius: 30px;
  border: none;
  text-align: center;
  height: 44px;
  line-height: 44px;
  width: 180px;
  cursor: pointer;

  &:hover {
    opacity: .8;
  }

  &--big {
    width: 290px;
  }
}
