.careers__centering {
  padding: 45px 12px;
}

.careers__text {
  margin-bottom: 35px;
}

@media (min-width: $tablet-min-width) {
  .careers__centering {
    padding: 45px 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .careers__centering {
    @include desktop-centering;
  }
}
