.cards__centering {
  padding: 45px 12px;
}

.cards__text {
  text-align: center;
  margin-bottom: 60px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: $tablet-min-width) {
  .cards__centering {
    padding: 45px 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .cards__centering {
    @include desktop-centering;
  }

  .cards__text {
    width: 980px;
  }
}
