.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 40px;

  &:last-child {
    margin-bottom: 0;
  }
}

.card__image {
  width: 100%;
  margin-bottom: 30px;
}

.card__wrapper {
  flex-basis: 48%;
}

.card__title {
  font-size: 34px;
  font-weight: 500;
  color: $primary-font-color;
  margin-bottom: 20px;
  text-align: center;

  &--desktop {
    display: none;
  }
}

.card__text {
  margin-bottom: 20px;
}

.card__list {
  margin-left: 20px;
}

.card__item:not(:last-child) {
  margin-bottom: 10px;
}

@media (min-width: $tablet-min-width) {
  .card {
    flex-direction: row;
    margin-bottom: 100px;

    &:nth-child(even) {
      .card__image {
        order: 2;
      }

      .card__wrapper {
        order: 1;
      }
    }

    &:last-child {
      margin-bottom: 40px;
    }
  }

  .card__image {
    width: 48%;
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }

  .card__title {
    text-align: left;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
