.choose-wrapper {
  background-color: $background-color;

  &--benefits {
    padding-top: 50px;
  }
}

.choose-wrapper__centering {
  padding: 0 12px;
}

@media (min-width: $tablet-min-width) {
  .choose-wrapper__centering {
    padding: 0 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .choose-wrapper__centering {
    @include desktop-centering;
    padding-bottom: 100px;
  }

  .choose-wrapper--index {
    .choose-wrapper__centering {
      display: flex;
      justify-content: space-between;
    }
  }

  .choose-wrapper--benefits {
    padding-top: 75px;
  }
}
