.choose {
  padding-bottom: 50px;
  background-color: $background-color;
  text-align: left;
}

.choose__title {
  margin-bottom: 20px;
}

.choose__text {
  margin-bottom: 25px;
}

.choose__link {
  display: block;
  margin: 0 auto;
}

@media (min-width: $desktop-min-width) {
  .choose {
    padding: 0;
    flex-basis: 45%;
    text-align: left;

    &--benefits {
      .choose__title {
        text-align: center;
        margin-bottom: 40px;
      }

      .choose__wrapper {
        display: flex;
        justify-content: space-between;

        .choose__text:first-child {
          margin-right: 40px;
        }
      }
    }
  }

  .choose__link {
    margin: 0;
  }
}
