.clients {
  background-color: $background-color;
  text-align: center;
}

.clients__centering {
  padding: 45px 12px;
}

.clients__title {
  margin-bottom: 30px;
}

.clients__text {
  margin-bottom: 30px;
}

.clients__slider {
  margin-bottom: 30px;
}

.clients__slide {
  width: 200px;
  padding-bottom: 200px;
  position: relative;
  border: 1px solid #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 0 auto;
}

.clients__slide-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

@media (min-width: $tablet-min-width) {
  .clients__centering {
    padding: 45px 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .clients__centering {
    @include desktop-centering;
    display: flex;
    justify-content: space-between;
  }

  .clients__text-centering {
    width: 35%;
    text-align: left;
    display: flex;
    align-items: center;
  }

  .clients__slider-centering {
    width: 60%;
  }
}
