.contacts-page {
  text-align: center;
}

.contacts-page__centering {
  padding: 45px 12px;
}

.contacts-page__text {
  margin-bottom: 35px;
}

.contacts-page__map {
  border: none;
  display: block;
}

.contacts-page__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
}

.contacts-page__item {
  width: 90%;
  text-align: center;
  margin-bottom: 2em;
}

.contacts-page__item-title {
  margin-bottom: .5em;
}

.contacts-page__item-icon {
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;

  &.contacts-page__item-icon--address {
    background-image: url('../assets/images/svg/location.svg');
  }

  &.contacts-page__item-icon--email {
    background-image: url('../assets/images/svg/contactsmail.svg');
  }

  &.contacts-page__item-icon--phone {
    background-image: url('../assets/images/svg/phone.svg');
  }
}

.contacts-page__social-link {
  text-decoration: none;
  margin: 0 5px;

  svg {
    fill: #ccc;
  }
}

.contacts-page__item-text {
  a {
    color: $primary-color;
    text-decoration: none;
  }
}

@media (min-width: $tablet-min-width) {
  .contacts-page__centering {
    padding: 45px 24px;
  }

  .contacts-page__item {
    width: 45%;
  }
}

@media (min-width: $desktop-min-width) {
  .contacts-page__centering {
    @include desktop-centering;
  }

  .contacts-page__item {
    width: 30%;
  }
}
