.contacts-form {
  padding: 72px 0 60px 0;
  background-color: #222222;
  position: relative;
}

.contacts-form__button {
  margin-bottom: 15px;
}

.contacts-form__note {
  color: $secondary-font-color;
}

.contacts-form__success-overlay {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &.contacts-form__success-overlay--active {
    opacity: 1;
    pointer-events: all;
  }
}

@media (min-width: $tablet-min-width) {
  .contacts-form__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: $desktop-min-width) {
  .contacts-form {
    padding: 0;
    flex-basis: 50%;
  }
}
