.contacts {
  background-color: #222222;
  padding-bottom: 60px;
}

.contacts__logo {
  display: inline-block;
  margin-bottom: 30px;
  margin-left: 10px;

  svg {
    height: 70px;
  }
}

.contacts__list {
  list-style-type: none;
}

.contacts__item {
  padding-left: 75px;
  padding-right: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: calc(320px - 24px);

  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &::after {
    content: "";
    width: 75px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
  }

  &--address::after {
    background-image: url("../assets/images/svg/location.svg");
  }

  &--phones::after {
    background-image: url("../assets/images/svg/phone.svg");
  }

  &--emails::after {
    background-image: url("../assets/images/svg/contactsmail.svg");
  }
}

.contacts__title {
  color: $primary-color;
}

.contacts__text {
  color: #ffffff;
  line-height: 21px;
}

@media (min-width: $desktop-min-width) {
  .contacts {
    padding: 0;
    flex-basis: 45%;
  }
}
