.contacts-wrapper {
  background-color: #222222;
}

.contacts-wrapper__centering {
  padding: 0 12px;
}

@media (min-width: $tablet-min-width) {
  .contacts-wrapper__centering {
    padding: 0 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .contacts-wrapper__centering {
    @include desktop-centering;
    display: flex;
    justify-content: space-between;
    padding: 70px 24px 100px 24px;
  }
}
