.facts__centering {
  padding: 45px 12px;
}

@media (min-width: $tablet-min-width) {
  .facts__centering {
    padding: 45px 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .facts__centering {
    @include desktop-centering;
  }
}
