.feedback {
  text-align: center;
}

.feedback__centering {
  padding: 45px 12px;
}

.feedback__text {
  margin-bottom: 60px;
}

.feedback__slider {
  margin-bottom: 40px;
}

.feedback__image {
  margin-bottom: 30px;
}

.feedback__slide-text {
  font-style: italic;
  color: $secondary-font-color;
  line-height: 23px;
  margin-bottom: 15px;
  text-align: left;
}

.feedback__slide-title {
  color: $primary-color;
  margin-bottom: 10px;
  text-align: left;
}

.feedback__slide-label {
  color: $secondary-font-color;
  text-align: left;
}

@media (min-width: $tablet-min-width) {
  .feedback__centering {
    padding: 70px 24px 65px 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .feedback__centering {
    @include desktop-centering;
  }

  .feedback__slide {
    margin: 3%;
  }
}
