.footer {
  background-color: #4d4d4d;
}

.footer__centering {
  padding: 20px 12px;
}

.footer__copyright {
  color: #ffffff;
  text-align: center;
}

.footer__social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-bottom: 30px;
  width: 280px;
  list-style-type: none;
}

.footer__social-item {
  svg {
    fill: #fff;
  }
}

.footer__social-item:not(:last-child) {
  margin-right: 40px;
}

@media (min-width: $tablet-min-width) {
  .footer__centering {
    padding: 20px 24px;
  }
}
