.form {
  position: relative;
}

.form__fieldset {
  background-color: #ffffff;
  border: none;
  padding: 12px;
}

.form__title {
  margin-bottom: 15px;
}

.form__label {
  sup {
    color: $secondary-color;
  }
}

.form__input,
.form__textarea {
  border: 1px solid $secondary-font-color;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  padding: 0 10px;

  &.form__input--with-help-text {
    margin-bottom: 5px;
  }
}

.form__textarea {
  padding: 10px;
  height: 8em;
}

.form__input {
  height: 40px;

  &.form__input--file-input {
    display: none;
  }
}

.form__input-help-text {
  color: #888;
  font-size: 1em;
  margin-bottom: 15px;
  display: inline-block;
}

.g-recaptcha {
  margin-bottom: 15px;
  max-width: 100px;
}

@media (min-width: $tablet-min-width) {
  .form__fieldset {
    padding: 24px;
  }

  .form__group {
    display: flex;

    .form__label {
      flex: 1;
    }

    .form__label + .form__label {
      margin-left: 35px;
    }
  }
}
