.header {
  padding: 0 12px;
  background-color: #ffffff;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 49px;
}

.header__logo {
  svg {
    height: 37px;
  }
}

.header__burger-button {
  background: transparent;
  border: none;
}

@media (min-width: $tablet-min-width) {
  .header {
    padding: 0 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .header {
    min-height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__logo {
    svg {
      height: 70px;
    }
  }

  .header__burger-button {
    display: none;
  }
}
