.hero {
  text-align: center;
  position: relative;
}

.hero__slide {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 30px 12px;
  position: relative;
  height: 370px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.4;
    z-index: 1;
  }

  &.hero__slide--slide1 {
    background-image: url("../assets/images/home_banner1_mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../assets/images/home_banner1_mobile@2x.jpg");
    }
  }

  &.hero__slide--slide2 {
    background-image: url("../assets/images/home_banner2_mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../assets/images/home_banner2_mobile@2x.jpg");
    }
  }

  &.hero__slide--slide3 {
    background-image: url("../assets/images/home_banner3_mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../assets/images/home_banner3_mobile@2x.jpg");
    }
  }
}

.hero__link {
  z-index: 2;
  position: relative;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  margin-bottom: 10px;
  z-index: 2;
  position: relative;
}

.hero__text {
  color: #ffffff;
  margin-bottom: 15px;
  z-index: 2;
  position: relative;
}

.hero__slider-buttons {
  line-height: 0;
  z-index: 2;
  position: relative;
}

.hero__slider-buttons--circles {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  text-align: center;
}

.hero__slider-button-arrow {
  display: none;
}

@media (min-width: $tablet-min-width) {
  .hero__slide {
    padding: 70px 24px;

    &.hero__slide--slide1 {
      background-image: url("../assets/images/home_banner1_desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../assets/images/home_banner1_desktop@2x.jpg");
      }
    }

    &.hero__slide--slide2 {
      background-image: url("../assets/images/home_banner2_desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../assets/images/home_banner2_desktop@2x.jpg");
      }
    }

    &.hero__slide--slide3 {
      background-image: url("../assets/images/home_banner3_desktop.jpg");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../assets/images/home_banner3_desktop@2x.jpg");
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .hero__slider-button-arrow {
    border: none;
    position: absolute;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    background: #fff;
    display: block;
    top: calc(50% - 32px);
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px 0px rgba(0, 0, 0, .4);

    &:hover {
      background-color: #ffc20c;
      cursor: pointer;
    }

    &.hero__slider-button-arrow--prev {
      left: 20px;
      background-position: 8px center;
      background-image: url("../assets/images/svg/prev.svg");
    }

    &.hero__slider-button-arrow--next {
      right: 20px;
      background-position: 14px center;
      background-image: url("../assets/images/svg/next.svg");
    }
  }

  .hero__slide {
    padding-top: 250px;
    height: 660px;
  }

  .hero__centering {
    @include desktop-centering;
    padding: 0 24px;
  }

  .hero__title {
    font-size: 80px;
  }

  .hero__slide {
    text-align: left;
  }

  .hero__text {
    margin-bottom: 60px;
    width: 600px;
    line-height: 21px;
  }

  .hero__slider-buttons--circles {
    bottom: 40px;
  }
}
