.navigation {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 999;
  width: 87%;
  left: -87%;
  transition: left .3s ease;

  &--active {
    left: 0;
    z-index: 1001;
  }
}

.navigation__logo {
  svg {
    margin-top: 4px;
    margin-left: 12px;
    height: 37px;
  }
}

.navigation__list {
  list-style-type: none;
}

.navigation__item {
  &--active {
    .navigation__link {
      color: $secondary-color;
    }
  }
}

.navigation__link {
  text-decoration: none;
  color: $primary-font-color;
  font-size: 18px;
  font-weight: 500;
  padding-left: 12px;
  height: 48px;
  line-height: 48px;
  display: block;

  &:hover {
    background-color: #f2f2f2;
  }
}

@media (min-width: $tablet-min-width) {
  .navigation {
    width: 300px;
    left: -300px;

    &--active {
      left: 0;
      z-index: 1001;
    }
  }

  .navigation__logo {
    svg {
      margin-top: 4px;
      margin-left: 24px;
      height: 37px;
    }
  }

  .navigation__link {
    padding-left: 24px;
  }
}

@media (min-width: $desktop-min-width) {
  .navigation {
    position: static;
    width: auto;
  }

  .navigation__logo {
    display: none;
  }

  .navigation__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .navigation__item:not(:last-child) {
    margin-right: 45px;
  }

  .navigation__link {
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}
