.openings {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.openings__item {
  td, th {
    padding: 14px 7px;
    padding-right: 20px;

    &:nth-child(1) {
      width: 70%;
    }

    &:nth-child(3),
    &:nth-child(4) {
      display: none;
    }
  }

  &:nth-child(odd) {
    td {
      background-color: #fff;
    }
  }

  &:nth-child(even) {
    td {
      background-color: #f0f0f0;
    }
  }
}

.openings__item-link {
  text-decoration: none;
  color: $primary-color;
}

.openings__item--heading {
  border-bottom: 2px solid #333333;
}

@media (min-width: $tablet-min-width) {
  .openings__item {
    td, th {
      &:nth-child(2) {
        display: none;
      }

      &:nth-child(3),
      &:nth-child(4) {
        width: 15%;
        display: table-cell;
      }
    }
  }
}
