.opening-meta {
  width: 100%;
  max-width: 350px;
}

.opening-meta__key {
  color: #808080;
  white-space: nowrap;
}

.opening-meta__value {
  font-weight: bold;
  white-space: nowrap;
  padding-left: 10px;
}
