.opening__centering {
  padding: 0 12px;
}

.opening__title {
  font-size: 24px;
  color: $primary-color;
  text-align: center;
  margin-bottom: 35px;
}

.opening__meta {
  margin-bottom: 35px;
}

.opening__actions-button {
  display: block;
  width: 100%;
  max-width: 290px;
  margin: 0 auto;
}

.opening__actions {
  text-align: center;
  margin-bottom: 35px;
}

.opening__actions-item {
  margin: 0 15px;
  margin-bottom: 35px;
  font-size: 16px;
  color: #336699;
  font-weight: bold;
  text-decoration: none;
  border: none;
  background: none;
  cursor: pointer;

  span,
  svg {
    vertical-align: middle;
  }

  span {
    margin-left: 5px;
  }
}

.opening__text {
  margin-bottom: 35px;
}

.opening__back-panel {
  padding: 15px 0;
}

.opening__back-link {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  color: #336699;
  font-weight: bold;

  span,
  svg {
    vertical-align: middle;
  }

  span {
    margin-left: 5px;
  }
}

.opening__text {
  ul {
    margin-left: 2em;
    margin-bottom: 2em;
  }

  ul ul,
  ol ul,
  ul ol {
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-min-width) {
  .opening__back-panel {
    padding: 25px 0;
  }

  .opening__centering {
    padding: 0 24px;
  }

  .opening__title {
    font-size: 34px;
  }
}

@media (min-width: $desktop-min-width) {
  .opening__centering {
    @include desktop-centering;
  }
}
