.projects {
  text-align: left;
  background-image: url("../assets/images/home_project3_desktop.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.8;
    z-index: 1;
  }
}

.projects__centering {
  padding: 45px 12px;
  z-index: 2;
  position: relative;
}

.projects__title {
  color: #ffffff;
  margin-bottom: 40px;
}

.projects__slider {
  margin-bottom: 50px;
}

.projects__image {
  margin-bottom: 30px;
}

.projects__slider-title {
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 5px;
}

.projects__text {
  color: $primary-color;
}

.projects__slider-buttons {
  text-align: center;
}

@media (min-width: $tablet-min-width) {
  .projects {
    background-image: url("../assets/images/home_project3_desktop@2x.jpg");
  }

  .projects__centering {
    padding: 45px 12px;
  }

  .projects__slide {
    margin: 3%;
  }
}

@media (min-width: $desktop-min-width) {
  .projects__centering {
    @include desktop-centering;
  }
}
