.progress {
  height: 12px;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 20px;
}

.progress__level {
  height: 12px;
  background-color: $primary-color;
  position: relative;

  &::before {
    content: attr(data-percents);
    position: absolute;
    top: -25px;
    right: 0;
  }
}
