.services {
  text-align: center;
}

.services__centering {
  padding: 45px 12px;
}

.services__text {
  margin-bottom: 35px;
}

.services__slider {
  margin-bottom: 25px;
}

.services__slide {
  text-align: left;
}

.services__image {
  margin-bottom: 25px;
}

.services__slide-title {
  margin-bottom: 15px;
}

.services__slider-buttons {
  line-height: 0;
  margin-bottom: 45px;
}

@media (min-width: $tablet-min-width) {
  .services__centering {
    padding: 45px 24px;
  }

  .services__slide {
    margin: 3%;
  }
}

@media (min-width: $desktop-min-width) {
  .services__centering {
    @include desktop-centering;
  }

  .services__slider {
    display: flex;
    justify-content: space-between;
  }

  .services__slide {
    width: 31.5%;
  }

  .services__slider-buttons {
    display: none;
  }
}
