.skills {
  background-color: $background-color;
  padding: 40px 0 60px 0;
  text-align: left;
}

.skills__title {
  margin-bottom: 30px;
}

.skills__list {
  list-style-type: none;
}

.skills__skill {
  display: inline-block;
  margin-bottom: 5px;
}

@media (min-width: $desktop-min-width) {
  .skills {
    padding: 0;
    flex-basis: 45%;
  }
}
