.team__centering {
  padding: 45px 12px;
  text-align: center;
}

.team__text {
  margin-bottom: 40px;

  &--decorated {
    position: relative;
    padding-top: 40px;
    margin-bottom: 0;

    &:before {
      content: "";
      height: 2px;
      background-color: $primary-color;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      margin: 0 - 12px;
    }
  }
}

.team__slider {
  margin-bottom: 30px;
}

.team__image {
  margin-bottom: 15px;
}

.team__slide-title {
  margin-bottom: 5px;
}

.team__slide-label {
  color: $secondary-font-color;
  margin-bottom: 30px;
}

.team__slide-text {
  font-style: italic;
  color: $secondary-font-color;
  line-height: 23px;
}

.team__slider-buttons {
  margin-bottom: 70px;
}

.team__line {
  background-color: $primary-color;
  size: 2px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-min-width) {
  .team__centering {
    padding: 45px 24px;
  }

  .team__text {
    &--decorated {
      &:before {
        margin: 0;
      }
    }
  }
}

@media (min-width: $desktop-min-width) {
  .team__centering {
    @include desktop-centering;
  }
}
