.technologies {
  text-align: center;
  background-color: $background-color;
}

.technologies__centering {
  padding: 45px 12px;
}

.technologies__slider {
  margin-bottom: 40px;
}

.technologies__slide {
  position: relative;
  padding-top: 135px;

  &::after {
    font-size: 36px;
    line-height: 75px;
    color: #ffffff;
    width: 75px;
    height: 75px;
    background-color: $primary-color;
    border-radius: 3px;
    position: absolute;
    top: 30px;
    left: calc(50% - 37px);
    content: attr(data-technology);
  }
}

.technologies__slide-title {
  margin-bottom: 15px;
}

.technologies__text {
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .technologies__centering {
    padding: 45px 24px;
  }

  .technologies__slide {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: $desktop-min-width) {
  .technologies__centering {
    @include desktop-centering;
  }

  .technologies__slider {
    display: flex;
    flex-wrap: wrap;
  }

  .technologies__slide {
    width: 33%;
    margin-bottom: 20px;
  }
}
