.title {
  color: $primary-font-color;
  font-weight: 500;

  &--big {
    font-size: 36px;
  }

  &--medium {
    font-size: 26px;
  }

  &--small {
    font-size: 20px;
  }

  &--underlined {
    position: relative;
    text-align: center;
    margin-bottom: 50px;

    &::after {
      content: "";
      position: absolute;
      height: 3px;
      width: 160px;
      background-color: $primary-color;
      left: calc(50% - 80px);
      bottom: -15px;
    }
  }
}
