$primary-color: #fa7c04; //orange
$secondary-color: #e1192b; // red
$primary-font-color: #1a1a1a; //black
$secondary-font-color: #666666; //grey
$background-color: #f6f6f6; //lightgrey
$tablet-min-width: 768px;
$desktop-min-width: 1025px;

// retina stuff
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
