.we-are__centering {
  padding: 45px 12px;
}

.we-are__text {
  margin-bottom: 40px;
  text-align: center;
}

.we-are__list {
  list-style-type: none;
}

.we-are__item {
  margin-bottom: 50px;

  &:last-child {
    margin-bottom: 0;
  }
}

.we-are__image {
  margin-bottom: 25px;
}

@media (min-width: $tablet-min-width) {
  .we-are__centering {
    padding: 45px 24px;
  }

  .we-are__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:nth-child(2) {
      .we-are__image {
        order: 2;
      }

      .we-are__item-text {
        order: 1;
      }
    }
  }

  .we-are__image {
    width: 48%;
    margin-bottom: 0;

    img {
      width: 100%;
    }
  }

  .we-are__item-text {
    width: 48%;
  }
}

@media (min-width: $desktop-min-width) {
  .we-are__centering {
    @include desktop-centering;
  }

  .we-are__text {
    width: 850px;
    margin-left: auto;
    margin-right: auto;
  }
}
