.why-us__centering {
  padding: 45px 12px;
}

.why-us__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.why-us__item {
  margin-bottom: 50px;
  position: relative;
  width: 296px;

  &::after {
    content: "";
    width: 60px;
    height: 60px;
    position: absolute;
    left: 0;
    top: -10px;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-child(1):after {
    background-image: url("/assets/images/svg/benefit1.svg");
  }

  &:nth-child(2):after {
    background-image: url("/assets/images/svg/benefit2.svg");
  }

  &:nth-child(3):after {
    background-image: url("/assets/images/svg/benefit3.svg");
  }

  &:nth-child(4):after {
    background-image: url("/assets/images/svg/benefit4.svg");
  }

  &:nth-child(5):after {
    background-image: url("/assets/images/svg/benefit5.svg");
  }

  &:nth-child(6):after {
    background-image: url("/assets/images/svg/benefit6.svg");
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.why-us__item-title {
  text-align: left;
  margin-bottom: 30px;
  margin-left: 70px;
  white-space: nowrap;
}

.why-us__text {
  color: $secondary-font-color;
}

@media (min-width: $tablet-min-width) {
  .why-us__centering {
    padding: 45px 24px;
  }

  .why-us__item {
    width: 40%;
  }
}

@media (min-width: $desktop-min-width) {
  .why-us__centering {
    @include desktop-centering;
  }

  .why-us__list {
    justify-content: space-between;
  }

  .why-us__item {
    width: 30%;
  }
}
