<section class="clients">
  <div class="clients__centering">
    <div class="clients__text-centering">
      <h2 class="clients__title title title--big">Our Clients</h2>
      <!-- <p class="clients__text">Whatever be your business needs, we have a solution for it. We provide complete suite of application Development with wide range of core competencies. Our experienced consultants ensure successful, quality driven and on time delivery of projects.</p> -->
    </div>
    <div class="clients__slider-centering">
      <div class="clients__slider">
        {% for c in site.data.clients %}
          <div class="clients__slide">
            <picture>
              <source media="(min-width: 768px)" srcset="/assets/images/{{ c.image }}.jpg 1x, /assets/images/{{ c.image }}@2x.jpg 2x">
              <img class="clients__slide-image" src="/assets/images/{{ c.image }}.jpg" srcset="/assets/images/{{ c.image }}@2x.jpg 2x">
            </picture>
          </div>
        {% endfor %}
      </div>
      <div class="clients__slider-buttons buttons-circle buttons-circle--light"></div>
    </div>
  </div>
</section>
