<section class="feedback">
  <div class="feedback__centering">
    <h2 class="title title--big title--underlined">Client Feeback</h2>
    <p class="feedback__text">Whatever be your business needs, we have a solution for it. We provide complete suite of application development with wide range of core competencies. Our experienced consultants ensure successful, quality driven and on time delivery of projects.</p>
    <div class="feedback__slider">
      {% for f in site.data.feedback %}
        <div class="feedback__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="/assets/images/{{ f.image }}.jpg 1x, /assets/images/{{ f.image }}@2x.jpg 2x">
            <img class="feedback__image" src="/assets/images/{{ f.image }}.jpg" srcset="/assets/images/{{ f.image }}@2x.jpg 2x">
          </picture>

          <p class="feedback__slide-text">{{ f.text }}</p>
          <h4 class="feedback__slide-title title title--small">{{ f.name }}</h4>
          <p class="feedback__slide-label">{{ f.position }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="feedback__slider-buttons buttons-circle buttons-circle--light"></div>
  </div>
</section>
