<section class="projects">
  <div class="projects__centering">
    <h2 class="projects__title title title--big">Our Projects</h2>
    <div class="projects__slider">
      {% for p in site.data.projects %}
        <div class="projects__slide">
          <picture>
            <source media="(min-width: 768px)" srcset="/assets/images/{{ p.image }}.jpg 1x, /assets/images/{{ p.image }}@2x.jpg 2x">
            <img class="projects__image" src="/assets/images/{{ p.image }}.jpg" srcset="/assets/images/{{ p.image }}@2x.jpg 2x">
          </picture>

          <h3 class="projects__slider-title">{{ p.title }}</h3>
          <p class="projects__text">{{ p.text }}</p>
        </div>
      {% endfor %}
    </div>
    <div class="projects__slider-buttons buttons-circle buttons-circle--dark"></div>
  </div>
</section>
