<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Blitz ITS</title>

    <meta property="og:description" content="Blitz IT Solutions helps organizations and clients operate more efficiently through higherprod uctivity and profitability, by providing business driven solutions ranging from Software Development, IT Consulting, Outsourcing and Staff Augmentation" />
    <meta property="og:site_name" content="Blitz IT Solutions">
    <meta name="twitter:card" content="Blitz IT Solutions" />
    <meta name="twitter:site" content="@blitzits" />
    <meta name="twitter:creator" content="@blitzits" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Blitz IT Solutions" />
    <meta property="og:url" content="http://react-elb-2107579879.us-east-1.elb.amazonaws.com/" />
    <meta property="og:image" content="http://react-elb-2107579879.us-east-1.elb.amazonaws.com/assets/images/blitz_its@2x.jpg" />
    <meta property="og:image:width" content="200" />
    <meta property="og:image:height" content="200" />

    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,900" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="shortcut icon" type="image/ico" href="/assets/images/favicon.ico">
    <script src="/assets/javascripts/picturefill.min.js" async></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body class="body">
    <header class="header">
      <div class="header__wrapper">
        <a class="header__logo" {% if page.title != 'Home' %} href="/" {% endif %}>
          {% include svg/logo.svg %}
        </a>
        <button class="header__burger-button" type="button" id="navigation-button">
          {% include svg/burger.svg %}
        </button>
      </div>

      <nav class="header__navigation navigation" id="navigation">
        <div class="navigation__wrapper">
          <a class="navigation__logo" {% if page.title != 'Home' %} href="/" {% endif %}>
            {% include svg/logo.svg %}
          </a>
          <ul class="navigation__list">
            <li class="navigation__item {% if page.title == 'Services' %} navigation__item--active {% endif %}">
              <a class="navigation__link" href="/services">Services</a>
            </li>
            <li class="navigation__item {% if page.title == 'Benefits' %} navigation__item--active {% endif %}">
              <a class="navigation__link" href="/benefits">Benefits</a>
            </li>
            <!-- <li class="navigation__item {% if page.title == 'About us' %} navigation__item--active {% endif %}">
              <a class="navigation__link" href="/about">About Us</a>
            </li> -->
            <li class="navigation__item {% if page.title == 'Careers' %} navigation__item--active {% endif %}">
              <a class="navigation__link" href="/careers">Careers</a>
            </li>
            <li class="navigation__item {% if page.title == 'Contacts' %} navigation__item--active {% endif %}">
              <a class="navigation__link" href="/contacts">Contact Us</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="main">
      <div class="divider divider--yellow">
      </div>

      {{ content }}

      <div class="contacts-wrapper">
        <div class="contacts-wrapper__centering">
          <section class="contacts-form">
            <form class="form" id="contacts">
              <fieldset class="form__fieldset">
                <legend class="visually-hidden"></legend>
                <h2 class="form__title title title--big">Contact Us</h2>
                <div class="form__group">
                  <label class="form__label">
                    First Name:<sup>*</sup>
                    <input class="form__input" type="text" name="first_name">
                  </label>
                  <label class="form__label">
                    Last Name:<sup>*</sup>
                    <input class="form__input" type="text" name="last_name">
                  </label>
                </div>
                <div class="form__group">
                  <label class="form__label">
                    Phone:<sup>*</sup>
                    <input class="form__input" type="tel" name="phone">
                  </label>
                  <label class="form__label">
                    Email:<sup>*</sup>
                    <input class="form__input" type="email" name="email">
                  </label>
                </div>
                <label class="form__label">
                  Message:<sup>*</sup>
                  <textarea class="form__textarea" name="message"></textarea>
                </label>
                <div class="g-recaptcha" data-callback="contactsRecaptchaSuccessCallback" data-expired-callbac="contactsRecaptchaExpiredCallback" data-sitekey="{{ site.RECAPTCHA_SITE_KEY }}"></div>
                <div class="contacts-form__wrapper">
                  <button class="contacts-form__button button-primary" type="submit">Send now</button>
                  <p class="contacts-form__note">We aim to reply within 24 hours.</p>
                </div>
              </fieldset>
              <div class="contacts-form__success-overlay" id="contacts-overlay">
                <h2>Thank you</h2>
                <p class="text-center">Message sent successfully</p>
              </div>
              <div class="toast">Fields represented with * are mandatory.</div>
            </form>
          </section>

          <section class="contacts">
            <h2 class="visually-hidden"></h2>
            <a class="contacts__logo" href="#">
              {% include svg/logo_footer.svg %}
            </a>
            <ul class="contacts__list">
              <li class="contacts__item contacts__item--address">
                <h4 class="contacts__title title title--small">Address</h4>
                <p class="contacts__text">100 West Road, Suite 300,<br />Towson, MD - 21204</p>
              </li>
              <li class="contacts__item contacts__item--phones">
                <h4 class="contacts__title title title--small">Phones</h4>
                <p class="contacts__text">443-921-2920</p>
              </li>
              <li class="contacts__item contacts__item--emails">
                <h4 class="contacts__title title title--small">Emails</h4>
                <p class="contacts__text">management@blitz-its.com</p>
              </li>
            </ul>
          </section>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="footer__centering">
        <ul class="footer__social-list">
          <li class="footer__social-item">
            <a href="{{ site.facebook_url }}" target="_blank" aria-label="blitz its in facebook">
              {% include svg/facebook.svg %}
            </a>
          </li>
          <li class="footer__social-item">
            <a href="{{ site.twitter_url }}" target="_blank" aria-label="blitz its in twitter">
              {% include svg/twitter.svg %}
            </a>
          </li>
          <li class="footer__social-item">
            <a href="{{ site.linkedin_url }}" target="_blank" aria-label="blitz its in linkedin">
              {% include svg/linkedin.svg %}
            </a>
          </li>
          <li class="footer__social-item">
            <a href="{{ site.youtube_url }}" target="_blank" aria-label="blitz its in youtube">
              {% include svg/youtube.svg %}
            </a>
          </li>
        </ul>
        <p class="footer__copyright">Copyright &copy; 2018 Blitz IT Solutions, Inc. All rights reserved.</p>
      </div>
    </footer>
    <script src="/assets/javascripts/siema.min.js"></script>
    <script src="/assets/javascripts/index.js"></script>
  </body>
</html>
