---
layout: default
---

<article class="opening">
  <div class="opening__centering">
    <div class="opening__back-panel">
      <a class="opening__back-link" href="/careers/">
        {% include svg/back.svg %}
        <span>Back</span>
      </a>
    </div>
    <h2 class="opening__title">{{ page.title }}</h2>
    <table class="opening__meta opening-meta">
      <tbody>
        <tr>
          <td class="opening-meta__key">Location:</td>
          <td class="opening-meta__value">{{ page.location }}</td>
        </tr>
        <tr>
          <td class="opening-meta__key">Compensation:</td>
          <td class="opening-meta__value">{{ page.compensation }}</td>
        </tr>
        <tr>
          <td class="opening-meta__key">Telecommute:</td>
          <td class="opening-meta__value">{{ page.telecommute }}</td>
        </tr>
        <tr>
          <td class="opening-meta__key">Industry:</td>
          <td class="opening-meta__value">{{ page.industry }}</td>
        </tr>
        <tr>
          <td class="opening-meta__key">Type:</td>
          <td class="opening-meta__value">{{ page.type }}</td>
        </tr>
        <tr>
          <td class="opening-meta__key">Work authorization:</td>
          <td class="opening-meta__value">{{ page.work_authorization }}</td>
        </tr>
      </tbody>
    </table>
    <div class="opening__text">
      {{ content }}
    </div>
    <div class="opening__actions">
      <button id="print-button" class="opening__actions-item">
        {% include svg/print.svg %}
        <span>Print</span>
      </button>
      <a href="mailto:email@email.com" class="opening__actions-item">
        {% include svg/email.svg %}
        <span>Email</span>
      </a>
      <button id="apply-button" class="opening__actions-button button-primary">Apply</button>
    </div>
  </div>
</article>

<section id="apply-modal" class="apply-modal">
  <div id="apply-modal-content" class="apply-modal__content">
    <button class="apply-modal__close" id="apply-close-button">{% include svg/close.svg %}</button>
    <div class="apply-modal__header">Submit Resume</div>
    <div class="apply-modal__body">
      <!-- <p class="text-center">Please fill the below and submit.</p> -->
      <form class="form" id="apply">
        <fieldset class="form__fieldset apply-modal__fieldset">
          <div class="form__group">
            <label class="form__label">
              First Name:<sup>*</sup>
              <input class="form__input "type="text" name="first_name">
            </label>
            <label class="form__label">
              Last Name:<sup>*</sup>
              <input class="form__input "type="text" name="last_name">
            </label>
          </div>
          <div class="form__group">
            <label class="form__label">
              Email:<sup>*</sup>
              <input class="form__input "type="text" name="email">
            </label>
            <label class="form__label">
              Phone:<sup>*</sup>
              <input class="form__input form__input--with-help-text" type="text" name="phone">
              <span class="form__input-help-text">(ex: 123-456-7890)</span>
            </label>
          </div>
          <label class="form__label">
            Attach Resume:<sup>*</sup>
            <div>
              <label class="button-primary apply-modal__resume-button" for="fileinput">Attach Resume</label>
              <span class="apply-modal__resume-filename" id="fileinput-filename">No file selected.</span>
            </div>
            <span class="form__input-help-text">(*.doc, *.docx, *.pdf, up to 10MB prefered)</span>
            <input accept=".doc,.docx,.pdf" class="form__input form__input--file-input" type="file" id="fileinput" name="file-to-upload">
            <br />
          </label>
          <div class="form__group">
            <label class="form__label">
              LinkedIn profile (optional):
              <input class="form__input "type="text" name="linkedin">
            </label>
            <label class="form__label">
              Subject (optional):
              <input class="form__input "type="text" name="subject" value="{{ page.title }}">
            </label>
          </div>
          <label class="form__label">
            Message (optional):
            <textarea name="message" class="form__textarea"></textarea>
          </label>
          <div class="g-recaptcha" data-callback="applyRecaptchaSuccessCallback" data-expired-callback="applyRecaptchaExpiredCallback" data-sitekey="{{ site.RECAPTCHA_SITE_KEY }}"></div>
        </fieldset>
        <div class="toast">Fields represented with * are mandatory.</div>
      </form>
    </div>
    <div class="apply-modal__footer">
      <button id="apply-submit-button" class="apply-modal__submit-button button-primary">Send Now</button>
    </div>
  </div>
</section>

<section id="apply-modal-done" class="apply-modal apply-modal--middle">
  <div id="apply-modal-content-done" class="apply-modal__content">
    <button class="apply-modal__close" id="apply-done-close-button">{% include svg/close.svg %}</button>
    <div class="apply-modal__body">
      <h2>Thank you</h2>
      <p class="text-center">Resume sent successfully</p>
    </div>
  </div>
</section>
